<h3>Compose a Tweet</h3>
	<% if logged_in? %>	
	<form action="/tweets" method="POST">
		Compose: <input type="text" id="content" name="content"><br>
		<input class="btn btn-primary" type="submit" value="Submit">
	</form>