<h3>Sign Up Here</h3>

	<form action="/signup" method="POST">

		Username: <input type="text" id="username" name="username"> <!--restored id= for username, email, and password-->
  		Email: <input type="text" id="email" name="email">
  		Password: <input type="text" id="password" name="password">

  		<input class="btn btn-primary" type="submit">

</form>
