<h1>Login</h1>
<form action="/tweets" method="POST">
	
  		<input type="text" name="username" placeholder="Username:"><br>
 		<input type="text" name="password" placeholder="Password:"><br>

  		<input type="submit" value="Submit"> 

  	</form>

  	<!-- loads the login page 
    loads the tweets index after login 
    does not let user view login page if already logged in  -->