<h1>Login</h1>
<form action="/users" method="POST">
	<label for="username">Username: </label>
  		<input type="text" id="username" name="user[username]">
  	<label for="password">Password:</label>
 		<input type="text" id="password" name=user[password]>

  		<input type="submit" value="Submit"> 

  	</form>

  	<!-- loads the login page 
    loads the tweets index after login 
    does not let user view login page if already logged in  -->