
Here are your tweets, <%= current_user.username %>. <!-- keep as is, passes -->

<% @tweets.each do |tweet| %>
	<div>
	<a href="/tweets/<%=tweet.id%>/edit"><%= tweet.content %></a>
	</div>

	<%end%>

	