
<!DOCTYPE html>
<html>
	<head>
		<title>Fwitter</title>
		<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/style.css\"> 
	</head>
	<body>
		<nav> 
			<div class="container">

				<h1>Welcome to Fwitter</h1>
			  
			  
				<a href="/logout">Log Out</a><br>
				
			</div>
		</nav>		
	</body>
</html>